{% extends "base.html" %}

{% block content %}

<div id="main-column">

  <div id="bubble-chart-container">

  </div>

  <div id="bar-chart-container">

  </div>

</div>

<div id="fetch-form">
  <div class="form-div">
    <h2>Date</h2>
  </div>
  
  <div class="form-div">
    <h4>From:</h4>
    <input type="text" id="date-from-input" class="date-input"/>
  </div>

  <div class="form-div">
    <h4>To:</h4>
    <input type="text" id="date-to-input" class="date-input"/>
  </div>

  <div class="form-div">
    <h2>Amount</h2>
  </div>

  <div class="form-div">
    <h4>From:</h4>
    <input type="text" id="amount-from-input" class="amount-input" placeholder="0.00"/>
  </div>

  <div class="form-div">
    <h4>To:</h4>
    <input type="text" id="amount-to-input" class="amount-input" placeholder="0.00"/>
  </div>

  <div class="form-div">
    <button id="fetch-button">Fetch</button>
  </div>
</div>

{% endblock content %}

