body {
    background-color: black;
    color: $text-color;
    font-family: $global-font;
}

#main-column {
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        margin-bottom: 1em;
    }
}
