#greatest-smallest-container {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .list-container {
        flex-basis: 50%;

        h2 {
            text-align: center;
        }
    }

    ul > li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #b1fc21;
        
        .date {
            font-size: 1rem;
        }

        .amount-description-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .amount {
                margin-top: 0;
                font-size: 1.5rem;
                padding-right: 0.8rem;
                flex-shrink: 0;

                background: linear-gradient(90deg, #00a84f, #b1fc21);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .description {
                margin-top: 0;
            }
        }
    }
}
